// import font and other cdn
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

*,
*::after,
*::before {
    box-sizing: border-box;
}

html {
    font-size: 62.5%; // 1rem = 10px;
    font-family: $main-font;
    scroll-behavior: smooth;
}

body {
    font-size: 2rem;
    color: $black-color;
    background: $bg-color;
    line-height: 1.5;
}

img {
    display: block;
    width: 100%;
}

a {
    display: inline-block;
    text-decoration: none;
    color: $black-color;
}

.wrapper {
    max-width: 1920px;
}
.container {
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}
