//fonts

$main-font: "Poppins";

// colors
$main-color: #6c5ce7;
// monochrome
$light-color: #b8afff;
$dark-color: #332b69;

$bg-color: rgb(255, 255, 255);
$text-color: $dark-color;
$black-color: #373737;
$white-color: white;

// ====== Break Point ============
$break-point-xs: 480px;
$break-point-sm: 768px;
$break-point-md: 1024px;
$break-point-lg: 1440px;

// ====== Layer ============
$modal-layer: 10;
$middle-layer: 5;
$normal-layer: 1;

// ====== timing function =======
