@import "./reset";
@import "./var";
@import "./mixin";
@import "./base";

//Glide
@import "node_modules/@glidejs/glide/src/assets/sass/glide.core";

// ============================== Components ===================================
@import "./components/button";
@import "./components/nav";
@import "./components/hero";
@import "./components/section-title";
@import "./components/carousel";
@import "./components/product-show";
@import "./components/card";
@import "./components/according";
@import "./components/footer";
@import "./components/product-section";
@import "./components/text-input";
@import "./components/form";

// ============================== Pages ===================================
@import "./pages/home";
@import "./pages/404";
@import "./pages/products";
@import "./pages/login";
