.home-page {
    section {
        margin-bottom: 10vh;
        .cards {
            margin-top: 5vmin;
            display: flex;
            .card {
                margin-right: 5rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .faqs {
            display: flex;
            justify-content: space-around;
            margin-top: 5vmin;
            .col {
                width: 45%;
            }
        }
        &.partners {
            .partners-wrapper {
                @include flex(space-around, row);
                margin-top: 5vmin;
                .partner {
                    width: 20%;
                }
            }
        }
    }
}

@include responsive($break-point-sm) {
    .home-page {
        section {
            .cards {
                flex-direction: column;
                .card {
                    margin-right: 0;
                    margin-bottom: 3rem;
                }
            }
            .faqs {
                flex-direction: column;
                .col {
                    width: 100%;
                }
            }
            &.partners {
                .partners-wrapper {
                    .partner {
                        width: 30%;
                    }
                }
            }
        }
    }
}
@include responsive($break-point-xs) {
    .home-page {
        section {
            &.partners {
                .partners-wrapper {
                    flex-wrap: wrap;
                    .partner {
                        width: 40%;
                        margin-bottom: 3rem;
                    }
                }
            }
        }
    }
}
