.home-page {
    section {
        margin-bottom: 10vh;
        .cards {
            margin-top: 5vmin;
            display: flex;
            .card {
                margin-right: 5rem;
                &:last-child {
                    margin-right: 0;
                }
            }
        }
        .faqs {
            display: flex;
            justify-content: space-around;
            margin-top: 5vmin;
            .col {
                width: 45%;
            }
        }
        &.partners {
            .partners-wrapper {
                @include flex(space-around, center);
                margin-top: 5vmin;
                .partner {
                    width: 20%;
                }
            }
        }
    }
}
