.login-page {
    height: 100vh;
    background: $main-color;
    padding: 0 10%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .preview {
        width: 40%;
    }
}
