.card {
    border-radius: 1rem;
    overflow: hidden;
    font-size: 2rem;
    &:hover .card__content {
        transform: translateY(0);
        & > * {
            animation-name: slideIn;
            animation-duration: 0.5s;
            animation-timing-function: ease;
        }
    }
    &__content {
        height: 100%;
        transform: translateY(100%);
        transition: transform 0.3s $expoOut;
        background: $main-color;
        color: $white-color;
        padding-bottom: 3rem;
        .top {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 3rem;
            .number {
                color: $light-color;
                font-size: 2em;
                font-weight: 200;
                text-decoration: 1px underline;
            }
            .date {
                font-size: 0.8em;
                font-weight: 300;
                font-style: italic;
                text-transform: capitalize;
            }
        }
        .title {
            font-size: 1.5em;
            font-weight: bold;
            margin-top: 0.2em;
            margin-bottom: 0.2em;
        }
        .description {
            color: $light-color;
            &::after {
                content: '"';
            }
            &::before {
                content: '"';
            }
        }
    }
}

@keyframes slideIn {
    from {
        transform: translateY(10rem);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
