.footer {
    padding: 5vmin 0;
    background: $main-color;
    color: $white-color;
    font-size: 2rem;
    a {
        color: $white-color;
        transition: transform 0.1s ease;
        &:hover {
            transform: translateX(0.5rem);
            text-decoration: underline;
        }
    }
    &__body {
        text-transform: capitalize;
        margin-bottom: 5vmin;
        @include flex(space-between, center);
        .pillars {
            display: flex;
            flex-wrap: wrap;
            ul.pillar {
                margin-right: 10rem;
                margin-bottom: 2rem;
                .title {
                    font-weight: bold;
                    font-size: 1.1em;
                    margin-bottom: 0.5em;
                }
            }
        }
    }
    &__foot {
        color: $light-color;
        @include flex(space-between, center);
        font-size: 0.8em;
        font-style: italic;
    }
}
@include responsive($break-point-sm) {
}
