.product-section {
    font-size: 2rem;
    &[data-fold="true"] {
        .products {
            animation: foldUp 0.5s forwards ease;
        }
    }
    &[data-fold="false"] {
        .products {
            animation: foldDown 0.3s forwards ease;
        }
    }
    .products {
        display: flex;
        flex-wrap: wrap;
        margin-top: 5vmin;
        overflow: hidden;
        .item {
            font-size: 1.6rem;
            width: 15rem;
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 5rem;
            text-align: center;
            .name {
                margin-top: 0.5em;
                padding: 0 0.2em;
            }
        }
    }
    &#others {
        .products {
            text-transform: capitalize;
        }
    }
}

@keyframes foldUp {
    from {
        transform: translateY(0);
        opacity: 1;
        height: 20rem;
    }
    to {
        transform: translateY(-100%);
        opacity: 0;
        height: 0;
        margin-top: 0;
    }
}
@keyframes foldDown {
    from {
        transform: translateY(-20%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}
