.section-title {
    font-size: 2rem;
    .title {
        font-size: 2.5em;
        color: $text-color;
        margin-bottom: 0.2em;
        font-weight: bold;
        &::first-letter {
            text-transform: uppercase;
        }
    }
    .bar {
        height: 3px;
        background: $light-color;
        border-radius: 9999px;
    }
}
