form {
    .field {
        font-size: 2rem;
        position: relative;
        width: max-content;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 1.5em;
        input {
            font-size: 1em;
            border-radius: 1rem;
            border: 3px solid $light-color;
            padding: 0.6em 1.2em;
        }
        .error {
            font-size: 0.8em;
            position: absolute;
            font-weight: bold;
            color: $white-color;
            background: $error-color;
            border-radius: 0.5rem;
            transform: translateX(20%);
            padding: 0.5em 0.8em;
            bottom: 110%;
            right: 0;
            & + input {
                border-color: $error-color;
            }
            &::after {
                content: "";
                display: block;
                position: absolute;
                width: 0;
                height: 0;
                top: 100%;
                left: 20%;
                border-style: solid;
                border-width: 6px 5px 0 5px;
                border-color: #e75c5c transparent transparent transparent;
            }
        }
    }
}
